# ============================================
# ESP32-CAM Backend - Environment Variables
# IF-6403 Sistem Cerdas dan Otomasi
# ============================================

# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/esp32cam_db

# RabbitMQ
RABBITMQ_HOST=rabbit-mq.sta.my.id
RABBITMQ_USER=smartparking
RABBITMQ_PASSWORD=mSmrtp4rk!n9
RABBITMQ_VHOST=/smartparking
RABBITMQ_QUEUE=camera.matlab

# Image Base URL
IMAGE_BASE_URL=https://smartparking.pptik.id/data/data
